/******************************** Common ***********************************/
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Markazi+Text&display=swap');

body{
  margin: 0;
  background: #c7c7c7;
  font-family: 'Markazi Text';
  font-size: 1.5rem;
}
a{
  color: #000;
  text-decoration: none;
}
li{
  list-style: none;
}

h1, h2 {
  font-family: 'Libre Caslon Text';
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.left-align{
  text-align: left;
}

/***************** header / nav ********************/

#top-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(243 244 245);
  align-items: center;
}

#top-header p {
    padding-left: 2rem;
}

.slogan {
  font-family: 'Libre Caslon Text';
  font-size: 1.3rem;
}

.magazine-title{
  font-size: 2.3rem;
}

.search-area{
  padding-right: 2rem;
  text-align: right;
}

.search-area input{
  margin-right: 0.2rem;
}

#top-header h1{
  text-align: center;
}

#top-nav{
  background: rgb(234 234 234);
  position: sticky;
  top: 0;
  z-index: 10;
}

#top-nav ul{
  padding: 0;
  text-align: center;
  margin-top: 0;
}

#top-nav li{
  display: inline-block;
  padding: 1rem 2rem;
}

@media screen and (max-width:1000px){
  #top-header h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:800px){
  #top-header h1 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
  }

  #top-header{
    grid-template-columns: 1fr 1fr;
  }

  .slogan{
    display: none;
  }
}

@media screen and (max-width:550px){
  #top-header h1 {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  #top-header{
    grid-template-columns: 1fr 2fr;
  }

  .search-area {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width:500px){
  #top-nav li {
    display: block;
    padding: 1rem 2rem;
  }

  #top-nav{
    position: static;
  }

  #top-header{
    display: block;
  }

  #top-header h1 {
    padding: 0;
    margin-top: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .search-area{
    text-align: center;
  }
}


/***************** footer ********************/
footer{
  padding: 2rem 0;
  height: 5rem;
  background-color: rgb(29, 26, 26);
}

.copyright{
  color: white;
  text-align: center;
  background-color: rgb(29, 26, 26);
  margin: 0;
  padding: 1rem 0;

}

footer ul{
  padding: 0rem;
  background-color: rgb(29, 26, 26);
  margin: 0;
  text-align: center;
}

footer li{
  margin: 1rem 0.5rem;
  display: inline-block;
  color: white;
}

.footer-icon{
  color: white;
  font-size: 3em;
}

@media screen and (max-width: 500px){
  .footer-icon{
    font-size: 2em;
  }
}

@media screen and (max-width: 370px){
  .footer-icon{
    font-size: 1.5em;
  }
}

/******************************** index.html ***********************************/

.wrapper{
  max-width: 1300px;
  margin: 0 auto;
}

/***************** section id="top-main" ********************/

#top-main{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
}

.main-article{
  width: 100%;
  display: inline-block;
}

.main-article p {
  padding-left: 1rem;
}

.main-img-size{
  max-width: 85%;
  height: auto;
}

.side-header{
  margin-top: 0;
}

.ranked-articles{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 300px;
  margin: 1rem auto;
}

.ranked-img-size{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px){
  #top-main{
    display: block;
  }

  .main-img-size{
    margin-right: 10px;
  }


  .main-article a, .main-article h1 {
    padding: 0 1rem;
  }

  .side-area{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .side-header{
    grid-column: 1 / 3;
    position: relative;
    font-size: 2.7rem;
    margin-bottom: 3rem;
  }

  .sidebar-span {
    padding: 0 1rem;
    position: relative;
  }

  .sidebar-span:before {
    left: 14rem;
    border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    width: 103%;
    color: #000;
  }

  .sidebar-span:after {
    right: 14rem;
    border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    width: 103%;
    color: #000;
  }

  .ranked-articles{
    display: block;
    width: 330px;
    margin: 0.5rem auto;
    
  }

  .ranked-img-size {
    max-width: 85%;
  }
}

@media screen and (max-width: 700px){
  .side-area{
    display: block;
  }

  .side-header{
    font-size: 2rem;
  }

  .sidebar-span:before {
    left: 11rem;
    width: 80%;
  }

  .sidebar-span:after {
    right: 11rem;
    width: 80%;
  }

  .ranked-articles {
    width: 360px;
    padding: 1rem 0;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 500px){
  .sidebar-span:before, .sidebar-span:after {
    display: none;
  }
}

@media screen and (max-width: 400px){
  .ranked-articles {
    width: 300px;
  }
}

/***************** section id="articles" ********************/
#articles{
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.articles-header{
  text-align: center;
  grid-column: 1 / 4;
  position: relative;
  font-size: 2.7rem;
  margin-bottom: 3rem;
  z-index: -1;
}

.article-span {
  padding: 0 1rem;
  position: relative;
}

.article-span:before {
  left: 14rem;
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  width: 107%;
  color: #000;
}

.article-span:after {
  right: 14rem;
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  width: 107%;
  color: #000;
}

.excerpt-article{
  max-width: 400px;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.excerpt-article:not(:last-child) {
  border-right: 1px solid #000;
} 

.outline-img{
  background: #908e8e;
  padding: 1rem;
}

.excerpt-img-size{
  max-width: 60%;
  height: auto;
  border-radius: 100%;
}

.published-date{
  color: #4C2F2F;
  font-size: 1.3rem;
  text-align: right;
  margin-top: 0.4rem;
}

.article-header{
  margin: 0;
}

@media screen and (max-width:1000px){
  #articles {
    display: block;
  }

  .article-desctiption-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .excerpt-article{
    max-width: none;
  }

  .excerpt-article:not(:last-child) {
    border-right: none;
  }
}

@media screen and (max-width:700px){
  .article-desctiption-grid{
    display: block;
  }

  .articles-header{
    font-size: 2rem;
  }

  .article-span:before {
    left: 11rem;
    width: 90%;
  }

  .article-span:after {
    right: 11rem;
    width: 90%;
  }
}

@media screen and (max-width: 500px){
  .article-span:before, .article-span:after {
    display: none;
  }
}


/***************** section id="interviews" ********************/
#interviews{
  margin-top: 5rem;
}

#interviews{
  text-align: center;
}

.interview-header {
  font-size: 2.7rem;
  position: relative;
  z-index: -1;
}

.interview-span{
  padding: 0 1rem;
  position: relative;
}

.interview-span:before {
  left: 18rem;
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  color: #000;
}

.interview-span:after {
  right: 18rem;
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  color: #000;
}

.interview-area{
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1000px;
  padding: 2rem 1rem;
  margin: auto;
  grid-gap: 1rem;
}

.us-man-img {
    background-image: url(images/model/us-man-land.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-position: center top;
}

.asian-man-img {
    background-image: url(images/model/asia-model-land.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-position: 75% 30%;
}

.european-man-img {
    background-image: url(images/model/europe-man-land.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-position: center top;
}

.interview-area:not(:last-child) {
  border-bottom: 1px solid #000;
} 

@media screen and (max-width:700px){
  .interview-area {
    display: block;
  }

  .us-man-img, .asian-man-img, .european-man-img {
    margin: auto;
  }

  .interview-header {
    font-size: 2rem;
  }

  .interview-span:before {
    left: 13rem;
    width: 65%;
  }

  .interview-span:after {
    right: 13rem;
    width: 65%;
  }
}

@media screen and (max-width: 500px){
  .interview-span:before, .interview-span:after {
    display: none;
  }
}


/********************* section id="items" **************************/
#items{
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem
}

.items-header {
  font-size: 2.7rem;
  text-align: center;
  grid-column: 1 / 5;
  z-index: -1;
}

.items-span{
  padding: 0 1rem;
  position: relative;
}

.items-span:before {
  left: 21rem;
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  width: 52%;
  color: #000;
}

.items-span:after {
  right: 21rem;
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  width: 52%;
  color: #000;
}

#items h2{
  text-align: center;
}

.item-area{
  
  width: 275px;
  margin: 1rem auto;
}

.item-img-size{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:1180px){
  #items {
    grid-template-columns: 1fr 1fr;
  }

  #items h1{
    grid-column: 1 / 3;
  }

  .item-area {
    width: 380px;
  }
}

@media screen and (max-width:850px){
  .item-area {
    width: 310px;
  }
  #items h2 {
    margin: 0.2rem 0;
  }

  #items p {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width:700px){
  #items {
    display: block;
  }

  .item-area {
    width: 400px;
    padding: 1rem 0;
    border-bottom: black solid 1px;
  }

  .items-header {
    font-size: 2rem;
  }

  .items-span:before {
    left: 16rem;
    width: 43%;
  }

  .items-span:after {
    right: 16rem;
    width: 43%;
  }
}

@media screen and (max-width: 500px){
  .items-span:before, .items-span:after {
    display: none;
  }
}


@media screen and (max-width:450px){
  .item-area {
    width: 300px;
  }
}




/******************************** article.html *********************************/
.article-show {
  padding: 1rem;
}

.article-show p {
  font-size: 2rem;
}
.article-wrapper{
  margin: auto;
  max-width: 1500px;
}

.article-published-date{
  color: #4C2F2F;
  font-size: 1.3rem;
  text-align: left;
  margin-top: 1rem;
  padding-left: 1rem;
}

.article-background{
  background-image: url("images/model/men-in-suit-land.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 45rem;
}

.article-title{
  background: #c7c7c7;
  position: relative;
  top: 25rem;
  left: 3rem;
  width: 65%;
  text-align: center;
  line-height: 1.6;
  font-size: 2.4rem;
  padding: 1.7rem;
}

.article-hidden-title{
  display: none;
}

.article-sub-header{
  margin-top: 4rem;
  font-size: 2rem;
  padding: 1rem 0 1rem 1rem;
  border-left: 0.4rem black solid;
  grid-column: 1 / 3;
}

.header-margin{
  margin-left: 1rem;
}

.article-para{
  padding: 0 1rem;
}

.article-first-para-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: auto;
}

.article-first-para-grid img {
  max-width: 100%;
}

.article-second-para-grid1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.article-second-para-grid2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
}

.suit-with-sunglass-img{
  margin: auto;
  width: 65%;
}

.toggle-display{
  display: none;
}

@media screen and (max-width: 1130px){
  .article-title{
    font-size: 2rem;
    
  }
}

@media screen and (max-width: 1000px){
  .article-second-para-grid1{
    display: block;
  }

  .article-second-para-grid2{
    display: block;
  }

  .suit-with-sunglass-img{
    display: block;
    margin: auto;
    width: 60%;
  }

  .toggle-hidden{
    display: none;
  }

  .toggle-display{
    display: block;
  }
}

@media screen and (max-width: 900px){
  .article-title{
    font-size: 1.6rem;
    width: 80%;
    top: 20rem;
    left: 2rem;
  }

  .article-background{
    height: 30rem;
  }
}

@media screen and (max-width: 600px){
  .article-title{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 490px){
  .article-title{
    font-size: 1rem;
    left: 1rem;
    max-width: 100%;
  }

  .article-sub-header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px){
  .article-background{
    background-position: 24rem;
    background-size: cover;
  }
  .article-title{
    display: none;
  }

  .article-show .article-published-date{
    font-size: 1.5rem;
    text-align: center;
  }

  .article-hidden-title{
    display: block;
    font-size: 1.7rem;
    margin: 1rem auto;
    text-align: center;
  }
}

/******************************** contact.html *********************************/

.contact h1, .contact p{
  text-align: center;
}

.contact-form {
  max-width: 1000px;
  text-align: center;
  margin: 2rem auto;
}

.contact input, .contact textarea {
  margin: 1rem;
}

.contact-form-grid{
  margin: auto;
}

.contact-submit-button{
  grid-column: 1 / 3;
  width: 50%;
  margin: 2rem auto 1rem;
  color: white;
  background-color: black;
  padding: 1rem;
  font-size: 1.5rem;
}

.contact-form-grid{
  display: block;
}

.contact label{
  display: block;
  text-align: left;
  margin: 1rem auto 0;
  width: 75%;
}

.contact input, .contact textarea {
  display: block;
  margin: auto;
  width: 75%;
  line-height: 1.3rem;
}

@media screen and (max-width: 500px){
  .contact input, .contact textarea {
    width: 90%;
  }

  .contact label {
    width: 90%;
  }
}

/******************************** sources.html *********************************/
.sources h1{
  padding-left: 1rem;
}

.sources h2{
  margin-bottom: 1rem
}

.sources img{
  max-width: 100%;
}
.table-area {
  overflow-x: scroll;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  padding: 1rem;
  margin: 0 1rem;
}

tbody tr :nth-child(1) {
  font-weight: 600;
  text-align: center;
}

th{
  color: white;
  font-size: larger;
  font-weight: bolder;
  background: #252593;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}

table td{
  border: 1px solid black;
  padding: 0.5rem;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 55%;
}

@media screen and (min-width:1000px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-area {
    overflow-x: unset;
  }

  table td{
    white-space: unset;
  }
}